<div class="jumbotron error-container">
  <p class="error-title">Oops there were some errors:</p>
  <ol class="error-list">
    <% @error_type.errors().full_messages().each() do |message| %>
      <li><%= message %></li>
    <% end %>
  </ol>

  <h5><a href=<%= @route %>><button type="button" class="btn">Back</button></a></h5>
</div>
