<div class="jumbotron error-container">
  <h2 class="error-title">Oops there were some errors:</h2>
  <ol class="error-list">
    <% @error_type.errors().full_messages().each() do |message| %>
      <h3><li><%= message %></li></h3>
    <% end %>
  </ol>

  <h5><a href=<%= @route %>><button type="button" class="btn">Back</button></a></h5>
</div>
