<div class="jumbotron">
  <div class="intro-header">
    <h1>Welcome to your Organizer</h1>
  </div>
  <p>Thank you for purchasing the "Shoe Store Organizer". We hope that it will help you keep the stores you manage and brands those stores sell organize. From this single application you can add, update and delete stores and/or brands with easy. More features will be added in time but if you have in suggestion please leave a comment on the comment page. Maybe you idea will be added to the application.</p>
  <h3>Happy Organizing!!!</h3>
</div>
