<!DOCTYPE html>
<html>
  <head>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="/js/scripts.js" charset="utf-8"></script>
    <title>Shoe Store Organizer</title>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1> Shoe Store Organizer <small>Where 👟 shoes 👠 are 👞 made 👡 for 👢 walking...</small></h1>
      </div>
      <div class="row">
        <div class="col-xs-2">
          <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="
            "><a href="/"><button type="button" class="btn btn-lg">Home</button></a></li>
            <li role="presentation"><a href="/stores_list"><button type="button" class="btn btn-lg">Stores</button></a></li>
            <li role="presentation"><a href="/brands_list"><button type="button" class="btn btn-lg">Brands</button></a></li>
            <li role="presentation"><a href="/comments"><button type="button" class="btn btn-lg">Comments</button></a></li>
          </ul>
        </div>
        <div class="col-xs-10">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
