<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Add Shoe Store to Database</h3>
    <form class="" action="/add_store" method="post">
      <div class="form-group">
        <label for="name">Store Name:</label>
        <input type="text" name="name" class="form-control">
      </div>
      <button type="submit" name="button" class="btn">Add Store</button>
    </form>
  </div>
  <div class="panel-body">
    <% if @stores.any? %>
      <% @stores.each do |store| %>
        <ul>
          <li><a href="/stores/<%= store.id %>"> <%= store.name %> </a></li>
        </ul>
      <% end %>
    <% else %>
      <p>Currently there are no stores in your database</p>
    <% end %>
  </div>
</div>
